*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color: #243142;
  perspective: 1500px;
  height: 100vh;
}

.container{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotateX(-20deg) rotateY(45deg);
  transform-style: preserve-3d;
  width: 200px;
  height: 200px;
  transition: 1s;
}

.box{
  position: absolute;
  width: 100%;
  height: 0;
  transform-style: preserve-3d;
  animation: full 10s linear 3s infinite;
}

@keyframes full {
  0%{
    height: 0;
    bottom: 0;
    background-color:  #2bbc63;
  }
  25%{
    height: 0;
    bottom: 0;
    background-color:  #2bbc63;
  }
  50%{
    height: 100%;
    bottom: 0;
    background-color:  #2bbc63;
  }
  75%{
    height: 100%;
    bottom: 0;
    background-color:  #2bbc63;
  }
  100%{
    height: 0%;
    bottom: 0;
    background-color:  #2bbc63;
  }
}

.container:hover{
  transform: translate(-50%, -80%) rotateX(-20deg) rotateY(45deg);
  cursor:pointer;
}

.container > *{
  position: absolute;
  width: 200px;
  height: 200px;
  background-color: rgba(0, 0, 0, 0.135);
}

.front{
  transform: translate3d(0,0,100px);
}
.back{
  transform: translate3d(0,0,-100px) rotateY(-180deg);
}
.right{
  transform: translate3d(100px,0,0) rotateY(90deg);
}
.left{
  transform: translate3d(-100px,0,0) rotateY(-90deg);
}
.bottom{
  transform: translate3d(0,100px,0) rotateX(90deg);
  background-color: #2bbc63;
    box-shadow: 0 0 15px 10px #01010175;
}
.top{
  transform: translate3d(0,-100px,0) rotateX(-90deg);
  background-color: rgba(4, 4, 4, 0.025);
}